<?xml version="1.0"?>
<launch>
    
    <!-- Robot 1 Spawn -->
    <group ns="robot_1">
        <param name="tf_prefix" value="robot1_tf" />
        <include file="$(find intermedio)/launch/phantom.launch">
            <arg name="robot_name" value="phantomXPincher"/>
            <arg name="x" value="0.0"/>
	        <arg name="y" value="0.2"/>
	        <arg name="z" value="0.0"/>
        </include>
    </group>

    <!-- Robot 2 Spawn -->
    <group ns="robot_2">
        <param name="tf_prefix" value="robot2_tf" />
        <include file="$(find intermedio)/launch/phantom.launch">
            <arg name="robot_name" value="phantomXPincher2"/>
            <arg name="x" value="0.0"/>
	        <arg name="y" value="-0.25"/>
	        <arg name="z" value="0.0"/>
        </include>
    </group>

    <!-- Convert an xacro and put on parameter server -->
    <param name="camera_description" command="$(find xacro)/xacro.py $(find intermedio)/urdf/camera.xacro" />
    <!-- Spawn a robot into Gazebo -->
    <node 
    name="spawn_camara" 
    pkg="gazebo_ros" 
    type="spawn_model"  
    output="screen" 
    args="-param camera_description -urdf -model camera"  />  

    <!-- Gazebo Initialization -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" default="$(find intermedio)/world/mundo3.world"/>
        <arg name="use_sim_time" value="true"/>
	</include> 

    <!-- rqt -->
	<!-- <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" /> -->
	<node name="rqt_publisher" pkg="rqt_publisher" type="rqt_publisher" /> 

</launch>
