<?xml version="1.0" ?>
 <robot xmlns:xacro="http://www.ros.org/wiki/xacro">
 <xacro:property name="link_00_name" value="base_link_1" />
 <xacro:property name="link_01_name" value="link1_1" />
 <xacro:property name="link_02_name" value="link2_1" />
 <xacro:property name="link_03_name" value="link3_1" />
 <xacro:property name="link_04_name" value="link4_1" />
 <xacro:property name="link_05_name" value="link5_1" />
 <xacro:property name="link_06_name" value="link6_1" />
 <xacro:property name="joint_01_name" value="cadera_1" />
 <xacro:property name="joint_02_name" value="hombro_1" />
 <xacro:property name="joint_03_name" value="codo_1" />
 <xacro:property name="joint_04_name" value="mano_1" />
 <xacro:property name="joint_05_name" value="gripper0_1" />
 <xacro:property name="joint_06_name" value="gripper1_1" />
</robot>